* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { text-align: center; }

.logo {
  display: inline-block;
  width: 80%;
  height: 100%;
  max-width: 800px;
  background: url("logo.jpg") 50% center no-repeat;
  background-size: contain;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 8px;
  text-align: center;
}
p { margin-top: 8px; }
